* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  height: 40px;
  background-color: #d3d3d3;
  position: relative;
}

header img:nth-child(1) {
  position: absolute;
  left: 10%;
}

img {
  display: inline-block;
  height: 100%;
  width: 4%;
}

header div:nth-child(2) {
  position: absolute;
  left: 15%;
  width: 60%;
  height: 100%;
  margin-top: 5px;
}

header div:nth-child(3) {
  position: absolute;
  left: 47%;
  width: 20%;
  height: 100%;
  margin-top: 5px;
}
header div:nth-child(4) {
  position: absolute;
  left: 70%;
  width: 30%;
  height: 100%;
  margin-top: 5px;
  display: inline;
  padding-left: 15px;
  line-height: 100%;
}

nav p {
  display: inline;
}

nav i {
  padding-left: 10px;
}

ul {
  margin: 7px 0;
}
li {
  display: inline-block;
  padding: 0px 10px;
}
main {
  width: 80%;
  height: 60%;
  margin: 0 auto;
}

main > div:first-child {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid black;
}

main > div:first-child > div:first-child {
  float: left;
  height: 100%;
  line-height: 100%;
}

main > div:first-child > div:last-child {
  float: right;
  height: 20%;
  margin-top: 10px;
  padding: 10px;

}

main > div:first-child > div:last-child p {
  margin: 0;
  background-color: dodgerBlue;
  padding: 10px;
  font-size: 12px;
  color: white;

}

input {
  padding: 5px;
  padding-right: 40px;
}

main > div:last-child {
  width: 100%;
  height: 85%;
  margin-top: 20px;
}

main > div:last-child > div:first-child{
  height: 100%;
  width: 75%;
  float: left;
}

main > div:last-child > div:first-child > div:first-child{
  height: 100%;
  width: 10%;
  float: left;

}

main > div:last-child > div:last-child{
  height: 100%;
  width: 25%;
  float: right;
}

main > div:last-child > div:last-child > div:first-child{
  height: 100%;
  width: 20%;
  float: left;
}
main > div:last-child > div:last-child > div:last-child{
  height: 100%;
  width: 80%;
  padding-left: 10px;
  float: right;
}

div.containervoting {
  text-align: center;
}

div.containervoting i {
  text-align: center;
  display: block;
}

div.containervoting p {
  text-align: center;
  color: grey;
  font-weight: bold;
  font-size: 22px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 100%;
  margin-top: 15px;
}

ul.listtags {
  margin-top: 10px;
  padding-left: 5px;
}

ul.listtags li {
  padding: 3px 8px;
  background-color: #D1EEEE;
}
